<section id="aboutme">
  <div class="container">
    <div class="row no-print">
      <div class="col-md-12">
        <div class="text-center">
          <h2>About Me</h2>
        </div>
      </div>
    </div>
    <div class="row no-print">
      <div class="col-md-12">
        <p>
          I've been a technology enthusiast ever since I received my first computer at the age of 11. A few years later I starting
          creating web sites and fell in love with the web. Shortly afterwards in high school I took a computer repair course
          that sparked my love for computer hardware. In college I had to decide which path I wanted to take and being a
          web developer won.
        </p>
        <p>
          When I'm not programming, I enjoy spending time with my girlfriend Melanie and my cat Pat. I also enjoy building and tearing
          apart computers, falling down on my skateboarding, rocking out while playing guitar and bass, exploring new worlds
          in video games, and trying new craft beers!
        </p>
      </div>
    </div>
  </div>
</section>