<section id="contact">
    <div class="container">
        <div class="row no-print">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
        </div>
        <div class="row no-print contact-location">
            <div class="col-md-12 no-gutter">
                <form name="contact-form" id="contact-form" class="form-group">
                    <div class="col-md-6">
                        <div class="form-group contact-input">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group contact-input">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group contact-input">
                            <input type="text" name="phone" id="phone" class="form-control phone-number" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="6" cols="4" placeholder="Have questions, a job opportunity, or need to hire me to develop a website?"></textarea>
                        </div>
                    </div>
                    <div class="text-center col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group flex-center">
                                    {{{captcha}}}
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>