<div class="footer">
    <div class="container">
        <a href="mailto:chadlefort@gmail.com" target="_blank" class="navbar-link"><i class="fa fa-lg fa-envelope"></i></a>
        <a href="http://www.linkedin.com/in/chadlefort" target="_blank" class="navbar-link"><i class="fa fa-lg fa-linkedin"></i></a>
        <a href="https://github.com/ChadLefort" target="_blank" class="navbar-link"><i class="fa fa-lg fa-github"></i></a>
        <a href="http://twitter.com/ChadLefort" target="_blank" class="navbar-link"><i class="fa fa-lg fa-twitter"></i></a>
    </div>
</div>

<div class="scrollup" href="#"><i class="fa fa-angle-double-up fa-4x"></i>
</div>
