<section id="portfolio">
    <div class="container-fluid">
        <div class="row no-print">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-sm-4 col-md-2 col-md-offset-1">
                <div class="thumbnail">
                    <a data-toggle="modal" data-target="#aotc"><img src="/content/images/portfolio/aotc-300x181.png"></a>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#aotc">Ahead of the Curve</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a data-toggle="modal" data-target="#patbot"><img src="/content/images/portfolio/patbot-300x181.png"></a>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#patbot">Pat Bot</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a data-toggle="modal" data-target="#dht22"><img src="/content/images/portfolio/dht22-300x181.png"></a>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#dht22">DHT22</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a data-toggle="modal" data-target="#dabou"><img src="/content/images/portfolio/dabou-300x181.png"></a>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#dabou">Dabou</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a data-toggle="modal" data-target="#gensheet-uploader"><img src="/content/images/portfolio/gensheet-uploader-300x181.png"></a>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#gensheet-uploader">Gensheet Uploader</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="aotc" tabindex="-1" role="dialog" aria-labelledby="aotc">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fa fa-lg fa-times modal-close pull-right" data-dismiss="modal" aria-label="Close"></i></a>
                        <h4 class="modal-title" id="aotc">Ahead of the Curve</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <img src="/content/images/portfolio/aotc-1024x616.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="https://mods.curse.com/addons/wow/258441-ahead-of-the-curve" class="btn btn-primary btn-sm-margin" target="_blank"><i class="fa fa-lg fa-external-link-square"></i> Addon</a>
                                <a href="https://github.com/ChadLefort/AheadOfTheCurve" class="btn btn-primary" target="_blank"><i class="fa fa-lg fa-github"></i> Github</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="page-header">
                                    <h4>Summary</h4>
                                </div>
                                <p>Ahead of the Curve is a addon for a popular video game called World of Warcraft. The addon
                                    automates the sending of Ahead of the Curve achievements when signing up for groups via
                                    the Looking for Group system in game. The project is written in Lua, as all World of
                                    Warcraft must be, and uses the Ace3 framework. It typically averages 50+ downloads a
                                    day and has been featured on popular sites such as Reddit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="patbot" tabindex="-1" role="dialog" aria-labelledby="patbot">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fa fa-lg fa-times modal-close pull-right" data-dismiss="modal" aria-label="Close"></i></a>
                        <h4 class="modal-title" id="patbot">Pat Bot</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <img src="/content/images/portfolio/patbot-1024x616.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="https://pat-bot.chadlefort.com/" class="btn btn-primary btn-sm-margin" target="_blank"><i class="fa fa-lg fa-external-link-square"></i> Site</a>
                                <a href="https://github.com/ChadLefort/pat-bot" class="btn btn-primary" target="_blank"><i class="fa fa-lg fa-github"></i> Github</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="page-header">
                                    <h4>Summary</h4>
                                </div>
                                <p>Pat Bot is a silly Discord bot named after my cat that I rescued back in 2013. I had recently
                                    started using Discord to chat with friends and wanted to start a new project. I built
                                    the whole project where it was easy to expand by adding commands. The bot was built using
                                    Typescript and Discord.js. It also uses Winston for logging and PM2 for process handling.</p>
                                <p>I have plans to expand the site, <a href="pat-bot.chadlefort.com" target="_blank">pat-bot.chadlefort.com</a> 
                                    , for users to add custom commands. I started to built the site using Node.js, Express,
                                    React with MobX, Typescript, and Webpack. For this project I also set up npm scripts to ease
                                    development and the deploy process.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dht22" tabindex="-1" role="dialog" aria-labelledby="dht22">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fa fa-lg fa-times modal-close pull-right" data-dismiss="modal" aria-label="Close"></i></a>
                        <h4 class="modal-title" id="dht22">DHT22</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <img src="/content/images/portfolio/dht22-1024x616.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="https://github.com/ChadLefort/dht22/tree/v2" class="btn btn-primary btn-sm-margin" target="_blank"><i class="fa fa-lg fa-github"></i> Github</a>
                                <a href="https://www.npmjs.com/package/beaglebone-dht" class="btn btn-primary" target="_blank"><i class="devicons devicons-npm fa-lg"></i> npm Package</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="page-header">
                                    <h4>Summary</h4>
                                </div>
                                <p>This project utilized the <a href="https://www.npmjs.com/package/beaglebone-dht" target="_blank">Beaglebone DHT npm package</a>                                    that I wrote. It took temperate data provided by the package and then wrote the results
                                    to a database that then displayed them to a single page application in real time using web
                                    sockets.
                                </p>
                                <p>The app is two separate Sails.js projects built on top of Express and Node.js. The backend project
                                    runs off the Beaglebone Black microcontroller and is just an api that you could read
                                    temperature data from and also send REST commands to control the sensor. The frontend project that displays the data was built using
                                    Highcharts, Socket.io, AngularJS, Typescript, and Gulp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dabou" tabindex="-1" role="dialog" aria-labelledby="dabou">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fa fa-lg fa-times modal-close pull-right" data-dismiss="modal" aria-label="Close"></i></a>
                        <h4 class="modal-title" id="dabou">Dabou</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <a href="https://dabou.herokuapp.com" target="_blank"><img src="/content/images/portfolio/dabou-1024x616.png"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="https://dabou.herokuapp.com/" class="btn btn-primary btn-sm-margin" target="_blank"><i class="fa fa-lg fa-external-link-square"></i> Site</a>
                                <a href="https://github.com/ChadLefort/dabou" class="btn btn-primary" target="_blank"><i class="fa fa-lg fa-github"></i> Github</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="page-header">
                                    <h4>Summary</h4>
                                </div>
                                <p>Dabou was a side project that development was never finished for. Although, I feel the code
                                    base was nice before the app's main functionality was broken by the game developer's
                                    api. This application is a fan site based on the popular video game World of Warcraft.
                                    Inside the game, a player's characters can collect hundreds of tabards, but there is
                                    no way of keeping track of your collection. That is the core of this app. It allows users
                                    to manage their collection of tabards and share their collections with the rest of the
                                    community.
                                </p>
                                <p>The app allows users to sign up with a local account or hand off the authentication process
                                    to third party sites via OAuth. Signing in or linking your Battle.net account allows
                                    users to view all of their characters on the site and select which is their main character
                                    so that the rest of the community knows. Users can also see all of the tabards on every
                                    single race and gender available in the game using three.js, a javascript 3D library,
                                    so that they will know what tabards will look like on their characters. Users also have
                                    access to a full account page where they can create a profile, link up to other third
                                    party sites, and do another account tasks such as changing their password. The front
                                    end of the site is a full AngularJS spa using Bootstrap and LESS. While the backend
                                    of the website uses MySQL for it's database, Grunt for tasks automation, and Sails.js,
                                    a MVC framework for Node.js.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="gensheet-uploader" tabindex="-1" role="dialog" aria-labelledby="gensheet-uploader">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fa fa-lg fa-times modal-close pull-right" data-dismiss="modal" aria-label="Close"></i></a>
                        <h4 class="modal-title" id="gensheet-uploader">Gensheet Uploader</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <a href="http://gensheet-uploader.chadlefort.com" target="_blank"><img src="/content/images/portfolio/gensheet-uploader-1024x616.png"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="http://gensheet-uploader.chadlefort.com" class="btn btn-primary btn-sm-margin" target="_blank"><i class="fa fa-lg fa-external-link-square"></i> Site</a>
                                <a href="https://github.com/ChadLefort/gensheet-uploader" class="btn btn-primary" target="_blank"><i class="fa fa-lg fa-github"></i> Github</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="page-header">
                                    <h4>Summary</h4>
                                </div>
                                <p>Edison Chouest Offshore delivers 10+ vessels a year, and I thought it would be nice to develop
                                    a web application to hold all of our gensheets in one central location. A gensheet is
                                    an excel workbook that contains the data to generate the configuration for PLCs used
                                    on the vessels.</p>
                                <p>I created a web application that would allow me to upload a gensheet, move its data into
                                    a database, and display it on a webpage. Once the gensheet has been uploaded, it is then
                                    easily manipulated to generate into new formats. For example, this allowed me to take
                                    a gensheet and convert it into a input/output lists for all the points on a vessel in
                                    a couple of clicks. Also, having all gensheets in a central location allowed a tech to
                                    easily access them for reference whether in the office or on a vessel.</p>
                                <p>I developed this application using Node.js with the Express framework for the backend and
                                    web server, Python to handle breaking up Excel files and uploading them to the database,
                                    and Bootstrap, jQuery, and AJAX on the front end.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>