<section id="intro">
    <div class="container">
        <div class="text-center no-print">
            <h2>Hello, I'm Chad, a Web Developer</h2>
            <div class="flex-center">
                <figure class="resume-image">
                    <div class="img"></div>
                </figure>
            </div>
        </div>
        <div id="resume">
            <div class="print">
                <div class="row">
                    <div class="col-md-9 no-gutter pull-left">
                        <div class="row">
                            <div class="col-md-2 no-gutter pull-left">
                                <figure class="resume-image">
                                    <div class="img"></div>
                                </figure>
                            </div>
                            <div class="col-md-9 pull-right">
                                <h1 class="header-brand">{{@blog.title}}</h1>
                                <h1><small>Web Developer</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-gutter pull-right">
                        <i class="fa fa-lg fa-phone"></i> (985) 696-4781<br>
                        <i class="fa fa-lg fa-envelope"></i> <a href="mailto:chadlefort@gmail.com">chadlefort@gmail.com</a><br>
                        <i class="fa fa-lg fa-globe"></i> <a href="https://chadlefort.com">chadlefort.com</a><br>
                        <i class="fa fa-lg fa-github"></i> <a href="https://github.com/chadlefort">ChadLefort</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 no-print">
                    <div class="resume-block text-center">
                        <i class="fa fa-4x fa-desktop"></i>
                        <div class="caption resume-block-push">
                            <h3>Passionate</h3>
                            <p>I’ve always had a strong passion for technology. Shortly after I was gifted my first computer,
                                I grew interested in web development and programming.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-print">
                    <div class="resume-block text-center">
                        <i class="fa fa-4x fa-book"></i>
                        <div class="caption resume-block-push">
                            <h3>Always Learning</h3>
                            <p>I'm constantly furthering my skills to keep up with the ever changing demand the web has. Programming
                                is more than a job to me, it’s a hobby and a passion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-print">
                    <div class="resume-block text-center">
                        <i class="fa fa-4x fa-thumbs-up"></i>
                        <div class="caption resume-block-push">
                            <h3>Motivated</h3>
                            <p>I've always enjoyed the feeling of accomplishment when programming, and I take pride in writing
                                clean, readable, maintainable, and efficient code.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 print">
                    <div class="text-center">
                        <h2>Profile</h2>
                    </div>
                </div>
                <div class="col-md-12 print">
                    <p>I’ve always had a strong passion for technology. Shortly after I was gifted my first computer, I grew
                        interested in web development and programming. I've always enjoyed the feeling of accomplishment
                        when programming, and I take pride in writing clean, readable, maintainable, and efficient code.
                        I'm constantly furthering my skills to keep up with the ever changing demand the web has. Programming
                        is more than a job to me, it’s a hobby and a passion.</p>
                </div>
            </div>
        </div>
        <hr class="print">
    </div>
</section>
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Job Experience</h2>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge">
                            <img src="/content/images/resume/netchex.png">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Netchex</h4>
                                <h5 class="timeline-title">Software Developer</h5>
                                <p><small class="text-muted">November 2014 – Present</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>Work in a agile scrum environment doing full stack development on an application that
                                        sepecilizes in payroll, benefits, and human resources.</li>
                                    <li>Develop backend code base using domain driven design with C#, Web API, and MVC5.</li>
                                    <li>Develop frontend single page applications using AngularJS, TypeScript, Bootstrap, and
                                        LESS.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <img src="/content/images/resume/chouest.png">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Edison Chouest Offshore</h4>
                                <h5 class="timeline-title">PLC Programmer</h5>
                                <p><small class="text-muted">December 2013 – November 2014</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>Implemented automation systems on new vessels using ladder loggic.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">
                            <img src="/content/images/resume/scpdc.png">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">SCPDC</h4>
                                <h5 class="timeline-title">Intern</h5>
                                <p><small class="text-muted">February 2013 – November 2013</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>Developed sites using WordPress, Bootstrap, PHP, and jQuery.</li>
                                    <li>Developed and modified reports using MSSQL Server.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 job-experience">
                <div class="job-experience-block">
                    <img src="/content/images/resume/netchex2.png" style="padding: 20px">
                    <div class="caption">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Netchex</h4>
                            <h5 class="timeline-title">Software Developer</h5>
                            <p><small class="text-muted">November 2014 – Present</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <ul>
                                <li>Work in a agile scrum environment doing full stack development on an application that sepecilizes
                                    in payroll, benefits, and human resources.</li>
                                <li>Develop backend code base using domain driven design with C#, Web API, and MVC5.</li>
                                <li>Develop frontend single page applications using AngularJS, TypeScript, Bootstrap, and LESS.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 job-experience">
                <div class="job-experience-block">
                    <img src="/content/images/resume/chouest2.png" width="50%" style="padding: 20px">
                    <div class="caption">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Edison Chouest Offshore</h4>
                            <h5 class="timeline-title">PLC Programmer</h5>
                            <p><small class="text-muted">December 2013 – November 2014</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <ul>
                                <li>Implemented automation systems on new vessels using ladder loggic.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 job-experience">
                <div class="job-experience-block">
                    <img src="/content/images/resume/scpdc2.png" width="90%" style="padding: 20px">
                    <div class="caption">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">SCPDC</h4>
                            <h5 class="timeline-title">Intern</h5>
                            <p><small class="text-muted">February 2013 – November 2013</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <ul>
                                <li>Developed sites using WordPress, Bootstrap, PHP, and jQuery.</li>
                                <li>Developed and modified reports using MSSQL Server.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="print">
    </div>
</section>
<section id="skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Skills</h2>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row skills">
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="custom-icon-csharp fa-3x"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                            <p><small class="text-muted">C#</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-dotnet fa-3x"></i>
                            <p><small class="text-muted">.NET</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-nodejs_small fa-3x"></i>
                            <p><small class="text-muted">Node.js</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-angular fa-3x"></i>
                            <p><small class="text-muted">AngularJS</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="custom-icon-ts fa-3x"></i>
                            <p><small class="text-muted">TypeScript</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-bootstrap fa-3x"></i>
                            <p><small class="text-muted">Bootstrap</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-less fa-3x"></i>
                            <p><small class="text-muted">LESS</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-javascript fa-3x"></i>
                            <p><small class="text-muted">Javascript</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-jquery fa-3x"></i>
                            <p><small class="text-muted">jQuery</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-msql_server fa-3x"></i>
                            <p><small class="text-muted">MSSQL Server</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-git fa-3x"></i>
                            <p><small class="text-muted">Git</small></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-1">
                        <div class="thumbnail text-center">
                            <i class="devicons devicons-gulp fa-3x"></i>
                            <p><small class="text-muted">Gulp</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="print">
    </div>
</section>
<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Education</h2>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row resume-education">
                    <div class="col-sm-4 col-md-2 pull-right resume-education-no-print">
                        <img src="/content/images/resume/nicholls.png">
                    </div>
                    <div class="col-sm-2 pull-right resume-education-print">
                        <img src="/content/images/resume/nicholls.png">
                    </div>
                    <div class="col-sm-5 col-md-9 resume-education-header">
                        <h4>Nicholls State University</h4>
                        <p class="resume-inner">Bachelor of Science (B.S.)</p>
                        <p class="resume-inner"><small class="text-muted">August 2009 - December 2013</small></p>
                    </div>
                </div>
                <hr>
                <ul>
                    <li>Majored in Computer Information Systems</li>
                    <li>GPA: 3.6</li>
                </ul>
                <h4>Awards</h4>
                <ul>
                    <li>Consistently been awarded the President’s List award since the Fall 2010 semester. The President’s List
                        award requires a student to maintain a scholastic GPA of 3.5 or higher.</li>
                </ul>
                <h4>Organizations</h4>
                <ul>
                    <li>Member of Beta Gamma Sigma. It is the highest recognition a business student anywhere in the world can
                        receive in a business program accredited by AACSB International.</li>
                    <li>Member of Upsilon Pi Epsilon. It is the first and only existing international honor society in the Computing
                        and Information disciplines.</li>
                </ul>
            </div>
        </div>
        <hr class="print">
    </div>
</section>